@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-text: #000;
  --color-text-secondary: #555;
  --color-text-checked: #fff;
  --color-bg: #fff;
  --color-bg-checked: hsl(175deg 100% 30%);
  --color-bg-unchecked: #ddd;
  --color-divider: #ccc;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #eee;
    --color-text-secondary: #aaa;
    --color-bg: #111;
    --color-bg-unchecked: #222;
    --color-divider: #333;
  }
}
