@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-text: #111;
  --color-text-secondary: #777;
  --color-text-checked: #fff;
  --color-text-today: hsl(10deg 100% 45%);
  --color-bg: #fff;
  --color-bg-secondary: #eee;
  --color-bg-checked: hsl(175deg 100% 30%);
  --color-bg-unchecked: #ddd;
  --color-divider: #ddd;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #eee;
    --color-text-secondary: #aaa;
    --color-text-today: hsl(10deg 100% 70%);
    --color-bg: #111;
    --color-bg-secondary: #222;
    --color-bg-unchecked: #222;
    --color-divider: #333;
  }
}
